<h1>Liste des équipes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Pays d'origine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.location %></td>
        <td>
          <%= link_to 'Voir', team %> 
          <% if current_user.teams.include?(team) %>
            <%= link_to 'Quitter', delete_user_from_team_path(team.id) %>
          <% else %>
            <%= link_to 'Rejoindre', add_user_to_team_path(team.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
