<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Liste des <strong>tournois</strong></h1>

    <% @tournaments.each do |tournament| %>
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <img class="img-responsive" src="http://placehold.it/750x750" alt="<%= tournament.name %>" />
      </div>
      <div class="col-md-6 col-sm-8">
        <h2>
          <%= tournament.name %><br>
          <small><%= tournament.game.name %></small>
        </h2>
        <p class="text-justify">
          <%= truncate(tournament.description, :length => 250, :omission => '[...]') %>
        </p>
        <br />
        <%= link_to 'Détail du tournoi', tournament, class:"btn btn-primary btn-sm pull-right" %>
        <% if user_signed_in? && !current_user.teams.empty? %>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user glyphicon-left"></span> 
                S'insrire <span class="caret"></span>
              </a>
            <ul class="dropdown-menu">
              <% current_user.teams.each do |team| %>
                <% if !tournament.teams.include?(team) %>
                <li><%= link_to team.name, enroll_team_to_tournament_path(tournament.id, team.id) %></li>
                <% end %>
              </ul>
              <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-12">
        <table class="table">
          <tr>
            <th colspan="2">Inscriptions<i class="glyphicon glyphicon-check pull-right"></i></th>
          </tr>
          <tr>
            <td>Début : </td>
            <td><%= tournament.signup_start.strftime("%d/%m/%Y à %H:%M") %></td>
          </tr>
          <tr>
            <td>Clôture : </td>
            <td><%= tournament.signup_end.strftime("%d/%m/%Y à %H:%M") %></td>
          </tr>
          <tr>
            <th>Début du tournoi</td>
            <td><%= tournament.date.strftime("%d/%m/%Y à %H:%M") %></td>
          </tr>
        </table>
      </div>
    </div>
    <hr />
    <% end %>

  </div>
</div>