<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">Tournois à venir</h1>
    <div class="row">
      <% @tournaments.each do |tournament| %>
      <div class="col-md-6">
        <h2>
          <%= tournament.name %><br>
          <small><%= tournament.game.name %></small>
        </h2>
        <%= truncate(tournament.description, :length => 250, :omission => '[...]') %>
        <p>
          <a class="btn btn-primary btn-sm pull-right" href="#" role="button">Détail du tournoi</a>
        </p>
      </div>
      <% end %>
    </div>

  </div>

  <div class="col-md-4">
    <h1 class="page-header">Derniers résultats</h1>
  </div>
</div>

<!-- <%= link_to 'New Tournament', new_tournament_path %> -->
