<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<p>
  <strong>Game:</strong>
  <%= @tournament.game_id %>
</p>

<p>
  <strong>Teams limit:</strong>
  <%= @tournament.teams_limit %>
</p>

<p>
  <strong>Signup start:</strong>
  <%= @tournament.signup_start %>
</p>

<p>
  <strong>Signup end:</strong>
  <%= @tournament.signup_end %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @tournament.check_in %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @tournament.mode %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
