<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Tournoi <strong><%= @tournament.name %></strong></h1>

    <div class="row">
      <div class="col-md-2 col-sm-4">
        <img class="img-responsive" src="http://placehold.it/750x750" alt="<%= @tournament.name %>" />
      </div>
      <div class="col-md-4 col-sm-8">
        <p class="text-justify">
          <%= @tournament.description %>
        </p>
        <dl class="dl-horizontal">
          <dt>Jeu : </dt>
          <dd><%= @tournament.game %></dd>
          <dt>Nombre d'équipes : </dt>
          <dd><%= @tournament.teams_limit %></dd>
          <dt>Mode : </dt>
          <dd><%= @tournament.mode %></dd>
        </dl>
      </div>
      <div class="col-md-4 col-sm-12">
        <table class="table">
          <tr>
            <th colspan="2">Inscriptions<i class="glyphicon glyphicon-check pull-right"></i></th>
          </tr>
          <tr>
            <td>Début : </td>
            <td><%= @tournament.signup_start.strftime("%d/%m/%Y à %H:%M") %></td>
          </tr>
          <tr>
            <td>Clôture : </td>
            <td><%= @tournament.signup_end.strftime("%d/%m/%Y à %H:%M") %></td>
          </tr>
          <tr>
            <th>Début du tournoi</td>
            <td><%= @tournament.date.strftime("%d/%m/%Y à %H:%M") %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-2 col-sm-12">
        Liste des équipes dans inscrites :
        <ul>
          <% @tournament.teams.each do |team| %>
            <li>
            <%= link_to team.name, team %>,
            <% if current_user.teams.include?(team) %>
              <%= link_to 'Quitter', leave_tournament_path(@tournament.id, team.id) %>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
